<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm py-3 py-lg-0 px-3 px-lg-0">
        <a href="/" class="navbar-brand ms-lg-5">
            <h1 class="m-0 text-uppercase text-dark"><i class="bi bi-shop fs-1 text-primary me-3"></i>오마이댕</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="/" class="nav-item nav-link active">홈으로 가기</a>
                <a href="/admin" class="nav-item nav-link" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">관리자</a>
                <a href="myPage" class="nav-item nav-link" sec:authorize="isAuthenticated()">마이 페이지</a>
                <a href="/review" class="nav-item nav-link">후기</a>
                <a href="/notice" class="nav-item nav-link">공지사항</a>
                <a href="/shoppingbasket" class="nav-item nav-link">장바구니</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">상품</a>
                    <div class="dropdown-menu m-0">
                        <a href="/petfood.html" class="dropdown-item">사료</a>
                        <a href="/pethealth.html" class="dropdown-item">건강,미용</a>
                        <a href="/petvitamin.html" class="dropdown-item">영양제</a>
                        <a href="/petplay.html" class="dropdown-item">외출,놀이,훈련</a>
                    </div>
                </div>
                <a href="/login.html" class="nav-item nav-link nav-contact bg-primary text-white px-5 ms-lg-5" sec:authorize="isAnonymous()">로그인</a>

                <a href="/logout" class="nav-item nav-link nav-contact bg-primary text-white px-5 ms-lg-5" sec:authorize="isAuthenticated()">로그아웃</a>
            </div>
        </div>
    </nav>
</div>
</html>
