<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오마이댕_계산하기</title>
    <link rel="stylesheet" href="./css/pay.css">
</head>
<body>
<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm py-3 py-lg-0 px-3 px-lg-0">
    <a href="/" class="navbar-brand ms-lg-5">
        <h1 class="m-0 text-uppercase text-dark"><i class="bi bi-shop fs-1 text-primary me-3"></i>오마이댕</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">
            <a href="/" class="nav-item nav-link active">홈으로 가기</a>
            <a href="/admin" class="nav-item nav-link" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">관리자</a>
            <a href="/review" class="nav-item nav-link">후기</a>
            <a href="/notice" class="nav-item nav-link">공지사항</a>
            <a href="/shoppingbasket.html" class="nav-item nav-link">장바구니</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">상품</a>
                <div class="dropdown-menu m-0">
                    <a href="/petfood" class="dropdown-item">사료</a>
                    <a href="/pethealth" class="dropdown-item">건강,미용</a>
                    <a href="/petvitamin" class="dropdown-item">영양제</a>
                    <a href="/petplay" class="dropdown-item">외출,놀이,훈련</a>
                </div>
            </div>
            <a href="/login" class="nav-item nav-link nav-contact bg-primary text-white px-5 ms-lg-5" sec:authorize="isAnonymous()">로그인</a>

            <a href="/logout" class="nav-item nav-link nav-contact bg-primary text-white px-5 ms-lg-5" sec:authorize="isAuthenticated()">로그아웃</a>
        </div>
    </div>
</nav>
<!-- Navbar End -->

<div id="container">
    <form name="order" method="post" action="/order">
        <fieldset>
            <legend>주문 정보</legend>
            <ul th:each="item : ${list}">
                <li>
                    <img class="img" th:src="${item.itemImage}" alt="상품 이미지" src="">
                </li>
                <li>
                    <p id="cate" class="cate" th:text="${item.itemName}">상품 이름</p>
                </li>
                <li>
                    <p id="price" class="price" th:text="${item.itemPrice}">상품 가격</p>
                </li>
                <li>
                    <p id="count" class="count" th:text="'개수 : ' + ${item.count} + '개'">개수</p>
                </li>
                <li>
                    <p class="border"></p>
                </li>
                <li>
                    <input type="hidden" th:value="${item.cartItemNum}" name="cartItemNum">
                </li>
            </ul>
            <table class="info">
                <tr>
                    <td>
                        <label class="field" for="custName">이름: </label>
                    </td>
                    <td>
                        <input type="text" class="input-box" id="custName" name="custName">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="field" for="custTel">연락처: </label>
                    </td>
                    <td>
                        <input type="text" class="input-box" id="custTel" name="custTel">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="field" for="address">주소: </label>
                    </td>
                    <td>
                        <input type="text" class="input-box" id="address" name="address">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="field" for="orderReq">요청사항: </label>
                    </td>
                    <td>
                        <input type="text" class="input-box" id="orderReq" name="orderReq" placeholder="조심히 천천히 와주세요">
                    </td>
                </tr>
            </table>
            <p th:if="${errorMessage}" style="color: red; text-align: center; font-weight: bold;" th:text="${errorMessage}"></p>
        </fieldset>
        <button type="submit" class="order">결제하기</button>
    </form>
</div>

<br><br><br><br><br>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; 오마이댕</p>
    </div>
</footer>

<script th:inline="javascript">
    var errorMessage = [[${errorMessage}]];

    if (errorMessage) {
        alert(errorMessage);
        location.href = "shoppingbasket.html";
    }
</script>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>

</body>
</html>
