<!DOCTYPE html>
<html lang="ko" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오마이댕_공지</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<th:block layout:fragment="script">
    <script th:inline="javascript">

        $(document).ready(function(){
            let errorMessage = /*[[${errorMessage}]]*/ "";
            if (errorMessage != null) {
                alert(errorMessage);
            }
        });

    </script>
</th:block>

<th:block layout:fragment="css">
    <style>

    </style>
</th:block>

<div th:replace="fragments/header :: header"></div>

<div th:fragment="content">

    <div class="bestmenu">
        검색상품
        <p>검색어 : '[[${word}]]'</p>
    </div>
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" id="items">
        <th:block th:each="item : ${searchItems}">
            <div class="card">
                <!-- Product image-->
                <img th:src="${item.itemImage}" class="card-img-top" th:alt="${item.itemName}" />
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">[[${item.itemName}]]</h5>
                        <p class="price">[[${item.itemPrice}]]원</p>
                        <!-- Product reviews-->
                        <div class="d-flex justify-content-center small text-warning mb-2">
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                        </div>
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" th:href="'/item/' + ${item.itemNum}">주문하기</a></div>
                </div>
            </div>
        </th:block>
    </div>

</div>
<div th:replace="fragments/footer :: footer"></div>


</html>
