<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="./css/signup.css" />
<link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
/>
<title>회원가입 페이지</title>
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                    <a class="navbar-brand" href="#!">오마이댕</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="./index.html">홈으로 가기</a></li>
                            <li class="nav-item"><a class="nav-link" href="#!">고객센터</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">로그인</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#!"><a href="">로그인</a></li>
                                    <li><hr class="dropdown-divider"/></li>
                                    <li><a class="dropdown-item" href="#!"><a href="./register.html">회원가입</a></li>
                                    <li><a class="dropdown-item" href="#!">아이디, 비밀번호 찾기</a></li>
                                </ul>
                            </li>
                        </ul>
                        <form class="d-flex">
                            <button class="btn btn-outline-dark" type="submit">
                                <i class="bi-cart-fill me-1"></i>
                                장바구니
                                <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                            </button>
                        </form>
                    </div>
            </div>
        </nav>
    </div>


    <div class="container2">
        <h2>회원가입</h2>
        <form method="post" action="login_proc.php" id="login-form">
            <div class="login_input">
                <input type="text" name="id" id="id" placeholder="아이디" />
                <input type="password" name="password" id="pw1" placeholder="패스워드" />
                <input type="password" name="password2" id="pw2" placeholder="패스워드 확인">
                <input type="email" name="email" id="email" placeholder="이메일">
                <input type="text" name="name" placeholder="이름">
                <input type="text" name="jumin" placeholder="주민번호">
                <input type="tel" name="tel" placeholder="연락처">
            </div>
            <div class="submit_button">
                <input type="submit" value="가입하기" class="button"/>
            </div>
            <div class="Cancel"> <!--, 회원가입 -->
                <a href="./login.html"><input type="button" value="취소"></a>
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>

</body>

</html>