<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.admin.mapper.AdminOrderMapper">

    <!-- 전체 주문 조회 -->
    <select id="orderListAll" resultType="adminOrderListDto">
        SELECT od.order_num, i.item_name, c.cust_name, c.cust_id, o.order_date, od.price, od.item_cnt, o.order_req, o.address,od.order_status
        FROM item i, customer c, `order` o, order_detail od
        group BY od.price;
    </select>

    <!-- 동적 SQL을 사용한 주문 검색 -->
    <select id="searchOrders" resultType="adminOrderListDto">
        SELECT od.order_num, i.item_name, c.cust_name, c.cust_id, o.order_date, od.price, od.item_cnt, o.order_req, o.address, od.order_status
        FROM item i
        JOIN orders_detail od ON i.item_num = od.item_num
        JOIN `order` o ON od.order_num = o.order_num
        JOIN customer c ON o.cust_num = c.cust_num
        WHERE 1=1
        <if test="searchType != null and searchKeyword != null and searchKeyword != ''">
            <choose>
                <when test="searchType == 'id'">
                    AND od.order_num = #{searchKeyword}
                </when>
                <when test="searchType == 'custName'">
                    AND c.cust_name LIKE CONCAT('%', #{searchKeyword}, '%')
                </when>
                <when test="searchType == 'custId'">
                    AND c.cust_id LIKE CONCAT('%', #{searchKeyword}, '%')
                </when>
                <when test="searchType == 'itemName'">
                    AND i.item_name LIKE CONCAT('%', #{searchKeyword}, '%')
                </when>
            </choose>
        </if>
        <if test="startDate != null and startDate != ''">
            AND o.order_date &gt;= #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            AND o.order_date &lt;= #{endDate}
        </if>
        <if test="orderStatus != null and orderStatus != ''">
            AND o.order_status = #{orderStatus}
        </if>
        ORDER BY o.order_date DESC
    </select>


</mapper>