<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.pet.mapper.MyPageMapper">

    <select id="selectMyPage" parameterType="Long" resultType="myPageDto">
        SELECT o.order_date, i.item_name, i.item_image, od.item_cnt, od.price, o.address, od.order_status, od.order_detail_num, o.order_num
        FROM `order` o
        JOIN customer c ON o.cust_num = c.cust_num
        JOIN orders_detail od ON o.order_num = od.order_num
        JOIN item i ON od.item_num = i.item_num
        WHERE o.order_num = #{orderNum}
    </select>

    <delete id="deleteOrder" parameterType="Long">
        DELETE FROM orders_detail
        WHERE order_detail_num = #{orderDetailNum}
    </delete>

    <update id="changeStatus" parameterType="map">
        UPDATE orders_detail
        SET order_status = #{orderStatus}
        WHERE order_detail_num = #{orderDetailNum}
    </update>
</mapper>